* {
  margin: 0;
  padding: 0;
  font-family: "jost", sans-serif;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  bottom: -50px;
  left: 43%;
}

.main {
  /* background-color: aqua; */
  /* position: relative; */
  height: 800px;
  z-index: 0;
  overflow: hidden;
}

.main .background-box {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../Images/image-background-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.main .background-box .box {
  position: absolute;
  width: 647px;
  height: 280px;
  background-color: white;
  top: 25%;
  left: 28%;
  padding: 0 4%;
}

.main .background-box .box .ReactFlagsSelect-module_selectBtn__19wW7 {
  border: 1.5px solid rgba(128, 160, 60, 1);
  height: 62px;
}

.MuiInputBase-root {
  border: 1.5px solid rgba(128, 160, 60, 1);
  height: 62px;
  font-size: 18px;
  font-weight: 400;
}

.MuiLoadingButton-root {
  border-radius: 50%;
}
